
.html {
    height:100vh;
    width: 100vw;
}

body
{margin: 0;
background-size: contain;
width: 100%;
}

.title {
    font-family:"Jacquard 12", system-ui;
    color:rgba(11, 17, 8, 0.513);
    justify-self: center;
    font-size: 3rem;
    margin-top: 1rem;
}
.projecttitle {
    font-family: 'monaco';
    font-weight:bolder;
    font-size: 2rem;
}
.text {
    font-family: monospace;
}
.scroll ::-webkit-scrollbar {
            display: none;
}
.stills ::-webkit-scrollbar {
        display: none;
        }


@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');
.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.centre {
    display: flex;
    align-items: center;
}
.back {
    font-size: 2rem;
}
a.back:link {
    text-decoration: none;
    color:hotpink
} 
a.back:hover {
    text-decoration: underline;
    color:rgba(255, 255, 255, 0)
}
a.back:visited {
    color:initial
}
a:link{color:inherit}
a:hover{color: hotpink;}
a:visited{color:inherit}

.images {
    min-width: 100%;
    margin: 40px;
    object-fit: contain;
}

